<div class="container-dashboard">
  <div class="row">
    <div class="col-md-4 offset-md-1 dashboard-picture">
      <%= cl_image_tag current_user.photo, gravity: :face  %>
      <div class="dashboard-content-info">
        <p>Name: <%= current_user.first_name %> <%= current_user.last_name %></p>
        <p>Bio: <%= current_user.bio %></p>
        <%= link_to "Edit User Info", edit_user_registration_path %> <br>
        <%= link_to "Delete Account", user_registration_path, method: :delete %>
        <% if current_user.professional %>
          <% if @proflisting.nil? %>
            <p>Create Your Professional Profile:</p>
            <%= link_to "Create", new_prof_listing_path %>
          <% else %>
            <h4>Your Professional Profile</h4>
            <p>Role: <%= @proflisting.role %></p>
            <p>Company: <%= @proflisting.company %></p>
            <p>Industry: <%= @proflisting.industry %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 offset-md-0 form-content">
      <h4 align="center">Your Connections</h4>
        <div class="cards-grid-dashboard">
          <% @connections.each do |connection| %>
            <% if current_user.professional %>
              <div class="card-listing card-dashboard">
                <%= cl_image_tag connection.user.photo, gravity: :face %>
                <div class="card-listing-infos">
                  <div>
                    <h2><%= connection.user.first_name %> <%= connection.user.last_name %></h2>
                    <p><strong>Bio: </strong><%= connection.user.bio %></p>
                    <%= link_to "Message", prof_listing_connection_messages_path(connection.prof_listing, connection) %><br>
                    <%= link_to "Delete Connection", prof_listing_connection_path(connection.prof_listing, connection), method: :delete %>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="card-listing card-dashboard">
                <%= cl_image_tag connection.prof_listing.user.photo, gravity: :face %>
                <div class="card-listing-infos">
                  <div>
                    <h2><%= connection.prof_listing.user.first_name %> <%= connection.prof_listing.user.last_name %></h2>
                    <p><strong>Industry: </strong><%= connection.prof_listing.industry %></p>
                    <p><strong>Company: </strong><%= connection.prof_listing.company %></p>
                    <p><strong>Role: </strong><%= connection.prof_listing.role %></p>
                    <%= link_to "Message", prof_listing_connection_messages_path(connection.prof_listing, connection) %><br>
                    <%= link_to "View Listing", prof_listing_path(connection.prof_listing) %><br>
                    <%= link_to "Delete Connection", prof_listing_connection_path(connection.prof_listing, connection), method: :delete %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>
