<div class="dashboard-container">
  <div class="row">
    <div class="col-md-4 offset-md-1 dashboard-profile">
      <h4><%= current_user.first_name %>'s dashboard</h4>
      <%= cl_image_tag current_user.photo, gravity: :face  %>
      <div class="dashboard-content-info">
        <p><strong>Name</strong>: <%= current_user.first_name %> <%= current_user.last_name %></p>
        <p><strong>Bio</strong>: <%= current_user.bio %></p>
        <br>
        <%= link_to "Edit User Info", edit_user_registration_path %> <br>
        <%= link_to "Delete Account", user_registration_path, method: :delete %>
        <br><br>
        <% if current_user.professional %>
          <% if @proflisting.nil? %>
            <p>Create Your Professional Profile:</p>
            <%= link_to "Create", new_prof_listing_path %>
          <% else %>
            <h4>Your Professional Profile</h4>
            <p><strong>Role</strong>: <%= @proflisting.role %></p>
            <p><strong>Company</strong>: <%= @proflisting.company %></p>
            <p><strong>Industry</strong>: <%= @proflisting.industry %></p>
            <br>
            <%= link_to "Edit Professional Info", edit_prof_listing_path(@proflisting) %><br>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 offset-md-0 dashboard-connection-container">
      <h4 align="center">Your Connections</h4>
        <div class="dashboard-cards-grid">
          <% @connections.each do |connection| %>
            <% if current_user.professional %>
              <div class="dashboard-card">
                <%= cl_image_tag connection.user.photo, gravity: :face %>
                    <%= link_to '<i class="far fa-times-circle"></i>'.html_safe, prof_listing_connection_path(connection.prof_listing, connection), method: :delete %>
                <div class="dashboard-card-listing-infos">
                  <div>
                    <h2><%= connection.user.first_name %> <%= connection.user.last_name %></h2>
                    <p><strong>Bio: </strong><%= connection.user.bio %></p>
                    <%= link_to '<i class="far fa-envelope"></i>'.html_safe, prof_listing_connection_messages_path(connection.prof_listing, connection) %>
                  </div>
                </div>
              </div>
            <% else %>

              <div class="dashboard-card">
                <a href="<%= prof_listing_path(connection.prof_listing)%>">
                <%= cl_image_tag connection.prof_listing.user.photo, gravity: :face %>
                <%= link_to '<i class="far fa-times-circle"></i>'.html_safe, prof_listing_connection_path(connection.prof_listing, connection), method: :delete %>
                <div class="dashboard-card-listing-infos">
                  <div>
                    <h2><%= connection.prof_listing.user.first_name %> <%= connection.prof_listing.user.last_name %></h2>
                    <p><strong>Industry: </strong><%= connection.prof_listing.industry %></p>
                    <p><strong>Company: </strong><%= connection.prof_listing.company %></p>
                    <p><strong>Role: </strong><%= connection.prof_listing.role %></p>
                    <%= link_to '<i class="far fa-envelope"></i>'.html_safe, prof_listing_connection_messages_path(connection.prof_listing, connection) %>




                  </div>
                </div>
                </a>
              </div>

            <% end %>
          <% end %>

        </div>
      </div>
  </div>
</div>
