<h1>Edit your Professional Listing</h1>

<div class="content">
<%= simple_form_for(@proflisting) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :company, collection: ["Animal Farm", "Pride and Prejudice", "Manchester by the Sea", "Life of Pi","To Kill a Mockingbird"]%>
    <%= f.input :role, collection: ["Analyst", "Consultant", "Junior Developer", "Partner", "Associate", "Product Manager"]%>
    <%= f.input :industry, collection: ["Information Technology and Services", "Marketing and Advertising", "Human Resources", "Computer Software", "Financial Services", "Staffing and Recruitment", "Internet", "Management Consulting", "Telecommunications", "Retail"]%>
    <%= f.input :active, as: :radio_buttons %>


  </div>

  <div class="form-action">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
