<div class="outer-container">
  <div class="filter-container">
    <h2 align="center">Find A Professional</h2>
    <%= form_tag prof_listings_path, method: :get do %>
    <div class="filter-inner-container">
    <div class="filter-col">
    <%= label_tag 'Industry' %>
    <%= select_tag "industry", options_for_select(ProfListing::INDUSTRIES), multiple: true, class: 'select2' %>
    </div>
    <div class="filter-col">
    <%= label_tag 'Role' %>
    <%= select_tag "role", options_for_select(ProfListing::ROLES), multiple: true, class: 'select2' %>
    </div>
    <div class="filter-col">
    <%= label_tag 'Company' %>
    <%= select_tag "company", options_for_select(ProfListing::COMPANIES), multiple: true, class: 'select2' %>
    </div>
    <%= submit_tag "Filter", class: "btn btn-primary btn-search" %>
    </div>
    <% end %>
  </div>
  <div class="container">

    <div class="cards-grid">

      <% @proflistings.each do |listing| %>
      <% if listing.active %>
        <% if user_signed_in? %>
      <div class="card-listing">
        <a href="<%= prof_listing_path(listing) %>">
        <div class="card-listing-img" style="background-image: url('<%= cl_image_path User.find(listing.user.id).photo, gravity: :face %>')">
        </div>
        <div class="card-listing-infos">
          <div>
            <h2><%= User.find(listing.user.id).first_name %> <%= User.find(listing.user.id).last_name %></h2>
            <p><%= listing.role %> at: <%= listing.company %> (Industry: <%= listing.industry %>)</p>
          </div>
            <div class="button-grid">
              <div class="display-button">
                <% unless current_user.professional || current_user.connections.where(prof_listing: listing).any? %>
                  <%= link_to "Add connection", prof_listing_connections_path(listing), class: 'btn btn-card btn-connection', method: :post%>
                <% else %>
                  <p class="p-connected">Connected</p>
                <% end %>
              </div>
            </div>
        </div>
      </a>
      </div>
      <% else %>
      <div class="card-listing-lo">
        <div class="card-listing-img" style="background-image: url('<%= cl_image_path User.find(listing.user.id).photo, gravity: :face %>')">
        </div>
        <div class="card-listing-infos-lo">
          <div>
            <h2><%= User.find(listing.user.id).first_name %> <%= User.find(listing.user.id).last_name %></h2>
            <p><%= listing.role %> at: <%= listing.company %> (Industry: <%= listing.industry %>)</p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
  </div>
</div>

</div>
