<h1 align="center">Meet new professionals!</h1>
<div class="outer-container">
  <div class="filter-container">
    <%= form_tag prof_listings_path, method: :get do %>
    <%= select_tag "industry", options_for_select(ProfListing::INDUSTRIES), multiple: true, class: 'select2' %>
    <%= select_tag "role", options_for_select(ProfListing::ROLES), multiple: true, class: 'select2' %>
    <%= select_tag "company", options_for_select(ProfListing::COMPANIES), multiple: true, class: 'select2' %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

  <div class="container">

    <div class="cards-grid">

      <% @proflistings.each do |listing| %>
      <% if listing.active %>
      <div class="card-listing">
        <%= cl_image_tag User.find(listing.user.id).photo, gravity: :face %>
        <div class="card-listing-infos">
          <div>
            <h2><%= User.find(listing.user.id).first_name %> <%= User.find(listing.user.id).last_name %></h2>
            <p><%= listing.role %> at: <%= listing.company %> (Industry: <%= listing.industry %>)</p>
            <% if user_signed_in? %>
            <div class="button-grid">
              <div class="display-button">
                <%= link_to "View profile", prof_listing_path(listing), class: 'btn btn-card btn-profile' %>
                <% unless current_user.professional || current_user.connections.where(prof_listing: listing).any? %>
                <%= link_to "Add connection", prof_listing_connections_path(listing), class: 'btn btn-card btn-connection', method: :post%>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
  </div>
</div>
</div>
