<% if @proflisting.active %>

<div class="container-profile">

  <div class="profile-card">
    <%= cl_image_tag User.find(@proflisting.user.id).photo, gravity: :face %>
<div class="profile-button">
    <% if !current_user.professional && current_user.connections.where(prof_listing: @proflisting).any? %>
    <%= link_to "Send a message", "#" , class: "btn" %>
    <%= link_to "Delete connection", prof_listing_connection_path(@proflisting), method: :delete, class: "btn" %>
  <% end %>
</div>
  </div>

  <div class="profile-card-content-info">
  <h1><%= User.find(@proflisting.user.id).first_name %> <%= User.find(@proflisting.user.id).last_name %></h1>
  <div>
      <p>Role: <%= @proflisting.role %></p>
      <p>Company: <%= @proflisting.company %></p>
      <p>Industry: <%= @proflisting.industry %></p>
      <p>Bio: <%= User.find(@proflisting.user.id).bio %></p>
  </div>
  </div>



</div>
  <% else %>
  <p>Listing not active</p>
</div>
<% end %>
